.navbar{
    background-color: #99A799;
}
.header{
    background-color: #99A799;
}

.container-fluid{
    background-color: #99A799;
}

.navbar-brand{
    background-color: #99A799;
}

.collapse{
    background-color: #99A799;
}

.nav-link{
    background-color: #99A799;
}

.nav-exer-1{
    background-color: #99A799;
    color: #D3E4CD;
}

span{
    background-color: #99A799;
}

.nav-h1{
    background-color: #99A799;
}

.nav-exer-2{
    background-color: #99A799;
}

section#header{
    background-color: #99A799;
}